.upthinq-header {
    color: #2B81C2;
    font-size: 4rem;
    font-weight: 900;
}

.upthinq {
    padding-left: 10%;
    padding-right: 10%;
}
.upthinq-explore{
    width: fit-content;
}

.upthinq-explore button {
    background-image: linear-gradient(to right, #2C85C6, #1B1D50);
    color: white;
    border: none;
    border-radius: 50px;
    width: max-content;
    padding: 10% 50% 10% 50%;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}


.upthinq-details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 5%;
}
.upthinq-contents{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 5% 1% 5% 1%;
    width: 40%;
}

.upthinq-image{
    width: 40%;
    max-width: 200px;
    max-height: 250px;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);

}
.upthinq-image>img{
    width: 100%;
}

.upthinq-name{
    color: #595959;
    font-size: 2rem;
    font-weight: 700;
    margin: 5% 0% 5% 0%;
}

.upthinq-description{
    color:#5C5C5C;
    font-size: 1.2rem;
    font-weight:400;
    margin: 5% 0% 5% 0%;

}