* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.mainarticle-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}

.mainarticle-image {
  width: 60%;
  transition: filter 0.3s ease;
}

.mainarticle-image:hover {
  filter: drop-shadow(0px 0px 10px #007bff);
}

.mainarticle-heading {
  text-align: left;
  font-size: 36px;
  color: black;
  margin-left: 20%;
  font-weight: 600;
}

.mainarticle-heading2 {
  text-align: center;
  font-size: 16px;
  margin-top: 2%;
  color: black;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.mainarticle-para1 {
  text-align: center;
  font-weight: bold;
  color: rgb(42, 41, 41);
  margin-top: 2%;
  opacity: 0;
  animation: fadeInUp 1s ease forwards;
  animation-delay: 0.5s;
  font-weight: 350;
}