@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: "Monument Extended Regular";
  src: local("Monument Extended Regular"),
    url("./assets/fonts/MonumentExtended-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Monument Extended UltraBold";
  src: local("Monument Extended UltraBold"),
    url("./assets/fonts/MonumentExtended-Ultrabold.otf") format("opentype");
}

* {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: beige;
}

.heading {
  font-family: "Monument Extended Regular";
  color: #00567d;
}
